body, h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

@media screen and (width <= 600px) {
  .header-title {
    font-size: 2em;
  }

  .header-subtitle {
    font-size: .8em;
  }

  .header-desc {
    font-size: .9em;
  }

  .header {
    text-align: center;
    flex-direction: column;
  }

  .header-image {
    margin-bottom: 20px;
    margin-left: 0;
  }

  .header-title:after {
    content: " | ";
    color: #000;
    padding: 0 .5rem;
    font-family: IM Fell English;
  }
}

.header {
  color: #000;
  background-image: linear-gradient(284deg, #ddcfb6, #ddcfb6);
  align-items: center;
  min-height: 60px;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  display: flex;
}

.header-image {
  width: 65px;
  height: 55px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.header a {
  color: #000;
  text-decoration: none;
}

.header-title {
  color: #000;
  font-family: IM Fell English;
  font-size: 1.5rem;
  font-weight: normal;
}

.header-title:after {
  content: " | ";
  color: #000;
  padding: 0 .5rem;
  font-family: IM Fell English;
}

.header-subtitle {
  color: #000;
  font-family: IM Fell English;
  font-size: 1.2rem;
}

.header-desc {
  color: #000;
  padding: .5rem 1rem;
  font-family: IM Fell English;
  font-size: 1rem;
}

.extra-info-container {
  max-width: 60%;
  margin: 20px auto;
}

.extra-info {
  background-color: bisque;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.dismiss-button {
  cursor: pointer;
  color: #333;
  background: none;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.dismiss-button:hover {
  color: red;
}

.acknowledgment-box {
  max-width: 75%;
  margin: 20px auto;
}

.header-acknowledgment {
  background-color: bisque;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.clear-refinements {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  flex-direction: column;
  gap: 2rem;
  display: flex;
}

.search-panel__filters {
  flex-wrap: wrap;
  gap: 1rem;
  display: flex;
}

.search-panel__pagination {
  margin: 0 auto 1rem;
}

.my-CategoryDropdown .ais-HierarchicalMenu {
  height: 185px;
  overflow: auto;
}

.my-SearchableDropdown .ais-RefinementList-list {
  flex-wrap: wrap;
  display: flex;
}

.my-SearchableDropdown .ais-RefinementList-item {
  background: #ccc;
  border-radius: 2em;
  margin: .2rem;
  padding: .1rem .5rem;
}

.my-SearchableDropdown .ais-RefinementList-item .ais-RefinementList-checkbox {
  display: none;
}

.my-SearchableDropdown .ais-RefinementList-item.ais-RefinementList-item--selected {
  color: #fff;
  background: #333;
}

.my-SearchableDropdown .ais-RefinementList-label mark {
  background: none;
  font-weight: bold;
  text-decoration: underline;
}

.ais-Dropdown-button {
  cursor: pointer;
  appearance: none;
  color: #23263b;
  user-select: none;
  background-color: #fff;
  background-image: linear-gradient(-180deg, #fff, #fcfcfd);
  border: 1px solid #d6d6e7;
  border-radius: 3px;
  padding: .75rem 1.5rem;
  box-shadow: 0 1px #23263b0d;
}

.ais-Dropdown-button:hover {
  background-image: linear-gradient(-180deg, #fff, #f5f5fa);
}

.ais-Dropdown-button:disabled[disabled] {
  box-shadow: none;
  color: #b6b7d5;
  background-image: linear-gradient(-180deg, #fff, #f5f5fa);
  border-color: #efeff5;
}

.ais-Dropdown-button--refined {
  font-weight: bold;
}

.ais-Dropdown.ais-Panel {
  margin: 0;
}

.ais-Dropdown .ais-Panel-body {
  background-color: #fff;
  border: 1px solid #d6d6e7;
  border-radius: .25rem;
  margin-top: .5rem;
  padding: .8rem;
  position: absolute;
}

.ais-Dropdown .ais-Panel-header {
  margin-bottom: 0;
}

.ais-Dropdown .ais-Panel-body {
  display: none;
}

.ais-Dropdown .ais-Panel-footer {
  margin: 0;
}

.ais-Dropdown--opened .ais-Panel-body {
  display: block;
}

.ais-Dropdown-close {
  width: 100%;
  margin: 0 1rem 1rem;
  display: none;
}

.ais-Dropdown-mobileTitle {
  margin-top: 0;
  display: none;
}

@media only screen and (width <= 375px) {
  .ais-Dropdown.ais-Dropdown--opened .ais-Panel-body {
    background: #fff;
    margin: 0;
    padding-bottom: 4rem;
    position: fixed;
    inset: 0;
    overflow-y: auto;
  }

  .ais-Dropdown.ais-Dropdown--opened .ais-Panel-footer {
    background: #fff;
    justify-content: center;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .ais-Dropdown--opened .ais-Dropdown-close {
    display: inline;
  }

  .ais-Dropdown-mobileTitle {
    display: block;
  }
}

body, h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin-left: 20px;
}

button {
  background-color: #fffefe;
  border: 1px solid #d1d1d1;
  margin-left: 20px;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px;
}

th {
  text-align: left;
  background-color: #f2f2f2;
  padding: 8px;
}

tr:nth-child(2n) {
  background-color: #f9f9f9;
}

td {
  padding: 8px;
}

tr:hover {
  background-color: #e2e2e2;
}

/*# sourceMappingURL=index.34b7aba5.css.map */
